
@{
    ViewData["Title"] = "Organismo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">

<div class="card shadow mb-4" id="CardPrincipal">
        <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white"><i class="fa fa-hands"  aria-hidden="true"></i>&ensp;Datos del Organismo</h6>
        </div>
        <div class="card-body">

            <div class="row">
            <div class="col-sm-12">
                    <form id="Principal">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                    <label for="txtSiglas">Siglas</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtSiglas" name="Siglas">
                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="txtRazonSocial">Razon Social</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtRazonSocial" name="Razon Social">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtCorreo">Correo</label>
                                        <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="txtTitular">Titular</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtTitular" name="Titular">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-4">
                                        <label for="txtTelefono">Telefono</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtTelefono" name="Telefono">
                                    </div>
                                    <div class="form-group col-sm-8">
                                        <label for="txtCargoTitular">Cargo Titular</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtCargoTitular" name="Cargo Titular">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                     <label for="txtDireccion">Direccion</label>
                                     <input type="text" class="form-control form-control-sm input-validar" id="txtDireccion" name="Direccion">
                                    </div>
                                </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="cboEstado">Estatus</label>
                                    <select class="form-control form-control-sm" id="cboEstado">
                                        <option value="1">Activo</option>
                                        <option value="0">No Activo</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-">
                                    <label for="txtLogo">Logo</label>
                                    <input class="form-control-file" type="file" id="txtLogo" />
                                </div>
                            </div>

                            </div>

                        <div class="col-sm-4">
                            <div class="row" style="text-align:center;">
                                    <div class="col-sm-12">
                                        <img id="imgLogo" style="max-width:60%;" src="" class="rounded" alt="Logo">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                    <button class="btn btn-success btn-sm" type="button" id="btnGuardarCambios"><i class="fa fa-save " aria-hidden="true"></i>&ensp;Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white"><i class="fa fa-list" aria-hidden="true"></i>&ensp;Lista de Organismos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevo"><i class="fas fa-plus"></i> Nuevo Organismo</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Logo</th>
                            <th>Siglas</th>
                            <th>Nombre</th>
                            @*<th>Fecha Alta</th>*@
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Organismo</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Modal">
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtSiglasModal">Siglas</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtSiglasModal" name="SiglasModal">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtNombre">Nombre</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombre" name="Nombre">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreoModal">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreoModal" name="Correo">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtTelefonoModal">Telefono</label>
                                    <input type="tel" class="form-control form-control-sm input-validar" id="txtTelefonoModal" name="Telefono">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtTitularModal">Titular</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtTitularModal" name="Titular">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCargoTitularModal">Cargo Titular</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtCargoTitularModal" name="Cargo">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="txtDireccionModal">Dirección</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDireccionModal" name="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboEstadoModal">Estatus</label>
                                    <select class="form-control form-control-sm" id="cboEstadoModal">
                                        <option value="1">Activo</option>
                                        <option value="0">No Activo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-8">
                                    <label for="txtLogoModal">Logo</label>
                                    <input class="form-control-file" type="file" id="txtLogoModal" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img id="logoOrganismo" style="max-width:60%;" src="" class="rounded mx-auto d-block" alt="Logo Organismo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
        <!-- ============================================================
        =SCRIPTS PARA ESTA PAGINA
        ===============================================================-->
    <script src="~/js/vistas/Organismo_Index.js"></script>

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
}

