
@{
    ViewData["Title"] = "Nuevo Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="~/vendor/jquery/jquery-3.6.0.js"></script>

    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

    @*hace responsivo el select de busqueda de Residente:*@
    <style>
        .select2{
            width:100% !important;
        }

/*        .input-group-text{
            width: 132px;
        }*/

    </style>

}


<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-search"></i>&ensp;Búsqueda de Beneficiario</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control form-control-sm" id="txtBIDBeneficiario" style="text-align:center" placeholder="Numero Beneficiario">
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control form-control-sm" id="txtBNombreB" style="text-align:center" placeholder="Nombre">
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control form-control-sm" id="txtBBPrimerApellidoB" style="text-align:center" placeholder="Primer Apellido">
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control form-control-sm" id="txtBBSegundoApellidoB" style="text-align:center" placeholder="Segundo Apellido">
                            </div>
                            <div class="form-group col-sm-3 busqueda-fecha">
                                <input type="text" class="form-control form-control-sm" id="txtBFechaNacimiento" style="text-align:center" placeholder="Fecha Nacimiento">
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control form-control-sm" id="txtBCURP" style="text-align:center" placeholder="CURP">
                            </div>
                            <div class="form-group col-sm-3">
                                <button type="button" class="btn btn-primary btn-block btn-sm" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                            <fieldset class="col-sm-12" style="background-color: #FFF5FF; border-radius:10px;">
                                                <legend class="scheduler-border" style="background-color: #FFD6DD">Beneficiarios encontrados</legend>
                                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%" >
                                    <thead>
                                        <tr>
                                                <p class="md-5">Seleccione a un beneficiario para consultar sus datos.</p></>
                                        </tr>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Primer Apellido</th>
                                            <th>Segundo Apellido</th>
                                            <th>Fecha Nacimiento</th>
                                            <th>CURP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            <br />
                        <div class="row" style="text-align:end">
                            <div class="col-lg-12">
                                <button class="btn btn-success  " id="btnNuevoB"><i class="fas fa-plus-circle"></i> Nuevo Beneficiario</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*BUSQUEDA RESIDENTE*@
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                            <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-fw fa-house-user"></i>&ensp;Residente</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <select class="form-control form-control-sm" id="cboBuscarResidente">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-sm" id="tbResidente">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Foto</th>
                                                <th>No. Ficha</th>
                                                <th>Nombre Completo</th>
                                                <th>Fecha Ingreso</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                    <br />
                                    <div class="row" style="text-align:end">
                                        <div class="col-lg-12">
                                            <button class="btn btn-success  " id="btnNuevoR"><i class="fas fa-plus-circle"></i> Nuevo Residente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@*FICHA*@
    <div class="row">
        <div class="col-sm-8">
<form>
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="fa fa-info" aria-hidden="true"></i>&ensp;Ficha de Identificación</h6>
                    </div>
                    <div class="card-body">
                            <div class="form-row" style="justify-content:space-between;">
                                <div class="form-group col-sm-3">
                                    <img id="imgFoto" src="https://images.unsplash.com/photo-1519648023493-d82b5f8d7b8a?w=300" class="rounded mx-auto d-block" style="width: 200px; height: 200px;">
                                </div>
                                <div class="form-group col-sm-3">
                                    <span>@*ViewData["IdBeneficiario"]*@Beneficiario No.<h3> 892</h3> </span>
                                </div>
                                <div class="form-group col-sm-3">
                                    <span>@*ViewData["Idresidente"]*@Ficha:<h3> 00456</h3></span>
                                </div>
                            </div>
                            <br />
                        <div class="form-row">
                                    <div class="form-group col-sm-4">
                                <label for="txtNombreFicha">Nombre(s)</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtNombreFicha" name="NombreFicha">
                            </div>
                             <div class="form-group col-sm-4">
                                    <label for="txtPrimerApellidoFicha">Primer Apellido</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtPrimerApellidoFicha" name="PrimerApellidoFicha">
                             </div>
                             <div class="form-group col-sm-4">
                                 <label for="txtSegundoApellidoFicha">Primer Apellido</label>
                                 <input type="text" class="form-control form-control-sm input-validar" id="txtSegundoApellidoFicha" name="SegundoApellidoFicha">
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="txtFechaIngreso">Fecha Ingreso</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtFechaIngreso" name="FechaIngreso">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtUltimaCuota">Ultima Cuota</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtUltimaCuota" name="UltimaCuota">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="txtReligion">Religion</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtReligion" name="Religion">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-8">
                                <label for="txtDependencia">Dependencia que lo emite</label>
                                <input type="text" class="form-control form-control-sm input-validar" id="txtDependencia" name="Dependencia">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="cboEstadoFicha">Estado</label>
                                    <select class="form-control form-control-sm" id="cboEstadoFicha">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="txtFoto">Foto</label>
                                <input class="form-control-file" type="file" id="txtFoto" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

</div>

        @*RESPONSABLE*@
        <div class="col-sm-4">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 bg-second-primary">
                        <h6 class="m-0 font-weight-bold text-white"><i class="fa fa-phone" aria-hidden="true"></i>&ensp;Responsable</h6>
                        </div>
                        <div class="card-body" style="padding:.5rem">

                        <div id="tabs">
                            <ul>
                                <li><a href="#Responsable1">1</a></li>
                                <li><a href="#Responsable2">2</a></li>
                                <li><a href="#Responsable3">3</a></li>
                            </ul>
                            <div id="Responsable1" style="padding:.3rem">
                                    <p class="text-gray-500">Principal</p>

                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputNombreR1">Nombre:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNombreR1" id="txtNombreR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrimerApellidoR1">Primer Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupPrimerApellidoR1" id="txtPrimerApellidoR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupSegundoApellidoR1">Segundo Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSegundoApellidoR1" id="txtSegundoApellidoR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupDomicilioR1">Domicilio:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupDomicilioR1" id="txtDomicilioR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupTelefonoR1">Tel:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTelefonoR1" id="txtTelefonoR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupEmailR1">eMail:</span>
                                        </div>
                                        <input style="width:110px" type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupEmailR1" id="txtEmailR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="cboTipoIdentificacionR1">Tipo Identificación:</label>
                                        </div>
                                        <select class="custom-select" id="cboTipoIdentificacionR1">
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupNoIdentificacionR1">No. Identificacion:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNoIdentificacionR1" id="txtNoIdentificacionR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupParentescoR1">Parentesco:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupParentescoR1" id="txtParentescoR1">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <select class="form-control form-control-sm" id="cboEstadoR1">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>
                            </div>
                                <div id="Responsable2" style="padding:.3rem">

                                     <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputNombreR2">Nombre:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNombreR2" id="txtNombreR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrimerApellidoR2">Primer Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupPrimerApellidoR2" id="txtPrimerApellidoR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupSegundoApellidoR2">Segundo Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSegundoApellidoR2" id="txtSegundoApellidoR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupDomicilioR2">Domicilio:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupDomicilioR2" id="txtDomicilioR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupTelefonoR2">Tel:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTelefonoR2" id="txtTelefonoR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupEmailR2">eMail:</span>
                                        </div>
                                        <input style="width:110px" type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupEmailR2" id="txtEmailR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="cboTipoIdentificacionR2">Tipo Identificación:</label>
                                        </div>
                                        <select class="custom-select" id="cboTipoIdentificacionR2">
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupNoIdentificacionR2">No. Identificacion:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNoIdentificacionR2" id="txtNoIdentificacionR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupParentescoR2">Parentesco:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupParentescoR2" id="txtParentescoR2">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <select class="form-control form-control-sm" id="cboEstadoR2">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>

                            </div>
                                <div id="Responsable3" style="padding:.3rem">

                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputNombreR3">Nombre:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNombreR3" id="txtNombreR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrimerApellidoR3">Primer Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupPrimerApellidoR3" id="txtPrimerApellidoR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupSegundoApellidoR3">Segundo Apellido:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupSegundoApellidoR3" id="txtSegundoApellidoR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupDomicilioR3">Domicilio:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupDomicilioR3" id="txtDomicilioR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupTelefonoR3">Tel:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupTelefonoR3" id="txtTelefonoR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupEmailR3">eMail:</span>
                                        </div>
                                        <input style="width:110px" type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupEmailR3" id="txtEmailR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="cboTipoIdentificacionR3">Tipo Identificación:</label>
                                        </div>
                                        <select class="custom-select" id="cboTipoIdentificacionR3">
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupNoIdentificacionR3">No. Identificacion:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupNoIdentificacionR3" id="txtNoIdentificacionR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupParentescoR3">Parentesco:</span>
                                        </div>
                                        <input type="text" class="form-control text-right" aria-label="Small" aria-describedby="inputGroupParentescoR3" id="txtParentescoR3">
                                    </div>
                                    <div class="input-group input-group-sm mb-3">
                                        <select class="form-control form-control-sm" id="cboEstadoR3">
                                            <option value="1">Activo</option>
                                            <option value="0">No Activo</option>
                                        </select>
                                    </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-group mb-0">
                                <button class="btn btn-success btn-sm btn-block" id="btnTerminarIngreso">Terminar Ingreso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/select2/es.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/images/jquery-ui.css"></script>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <script src="~/js/vistas/Nuevo_Ingreso.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <link href="~/css/personalizado.css" rel="stylesheet">
    
}
